In [ ]:
Create a function which display addition, subtraction, multiplication,division of 2 numbers.

In [ ]:
def compute(a,b):
  p=a+b
  q=a-b
  r=a*b
  s=a/b
  print(p,q,r,s)

compute(3,4)

7 -1 12 0.75

In [ ]:
Create a function which takes name and age from the user and display age of the person.

In [ ]:
def display(name, age):
   print("Hi",name,"Your age is",age)
   
display("ivi",56)

Hi ivi Your age is 56

Create a function which takes name and salary as input form the user and display name and salary of the person.
In case salary is not mentioned take as 15000.

In [ ]:
def information(name,salary=15000):
  print(name,"Your salary is",salary)
information("Vijay",799999)
information("jai")

Vijay Your salary is 799999
jai Your salary is 15000

Create a function which adds all the elements in list of numbers.

In [ ]:
def add_numbers(numbers):
  sum=0
  for i in range (numbers):
   sum=sum+i
  print(sum)
add_numbers(6)

15

Create a function that displays largest numbers among three given numbers.

In [ ]:
def large_num(a,b,c):
   if(a>b & a>c):
     print("a is greater")
   elif(b>a &b>c):
     print("b is greater")
   else:
    print("c is greater")  
large_num(2,3,9)

c is greater

create a function which compute area and circumference of a circle.

In [ ]:
def compute(r):
  cir=2*3.14*r
  print(cir)
  a=3.14*r*r
  print(a)
compute(6)

37.68
113.03999999999999

In [ ]:
Create a function to compute area and perimeter of a rectangle.

In [ ]:
def cal(l,b):
 area=l*b
 print(area)
 peri=2*(l+b)
 print(peri)
cal(2,3)

6
10

Create a function which displays all the even numbers in the list of numbers in a new separate list.

In [ ]:
def even(num):
  l1=[]
  for i in num:
    if i%2==0:
      l1.append(i)
  print(l1)

In [ ]:
even([4,6,8,7])

[4, 6, 8]

In [ ]:
even([2,5,7,8,4,9,3])

[2]
[2, 8]
[2, 8, 4]

Create a function which counts the number of vowels and consonant in a given word.

In [ ]:
def count(word):
  vowel_counter=0
  consonant_count=0
  for i in range(len(word)):
    if word[i]in('a','A','e','E','i','I','o','O','u','U'):
     vowel_counter=vowel_counter+1
    else:
      consonant_count=consonant_count+1
  print("Number of vowels=",vowel_counter)
  print("Number of consonant=",consonant_count)

In [ ]:
count("India")

Number of vowels= 3
Number of consonant= 2

Types of Arguments:-

1.Default Arguments

Create a function which greets Good Morning to the customer by using his/her name.
Incase the name is not provided,call the customer by the name "user"

In [ ]:
def wish(name="user"): 
  print("good morning",name)

In [ ]:
wish("vijay")

good morning vijay

In [ ]:
wish()

good morning user

2.Arbitrary Arguments

In [ ]:
def fun(*child):
  print("Youngest child is",child[2])

In [ ]:
fun("radha","Krishna","Vijay","Anshika")

Youngest child is Vijay

3.Keyword Argument

In [ ]:
def fun1(child3,child1,child2):
 print("Youngest child is",child2)

In [ ]:
fun1(child3="Ravi",child1="Ram",child2="Ansh")

Youngest child is Ansh

4.Arbitrary keyword Argument

In [ ]:
def func(**names):
   print("His middle name is",names['mname'])
func(fname="Ravi",mname="kumar",lname="Yadav")

His middle name is kumar

In [ ]:
func(fname='Vijay',mname='None')

His middle name is None

RECURSSION:-

In [ ]:
Factorial of a number by recurssion.

In [ ]:
def factorial(n):
  if n<0:
    print("Factorial of number is,",0)
  elif n==0 and n==1:
    print("Factorial of a number is ",1)
  else:
    fact=1
    while n>1:
      fact=fact*n
      n=n-1
    print("Factorial of a number is",fact)

In [ ]:
factorial(5)

Factorial of a number is 120

Fibonacci Series

In [ ]:
n=int(input("enter the number"))
a=0
b=1
if n<0:
  print("does not exist")
elif n==0:
  print(0)
elif n==1:
  print(a)
else:
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(b)

enter the number4
1
2

In [ ]:
n=int(input("enter thr number"))
temp=n
sum=0
while(n>0):
  dig=n%10
  sum=(sum*10)+dig
  n=n//10
if(temp==n):
  print("palindrome")
else:
  print("not a palindrome")

enter thr number456
not a palindrome