In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))
if x>y:
  print("x is greater")
else:
  pass

enter a number4
enter a number6

In [ ]:
fruits=["mango","Apple","Banana","Pineapple"]
for i in fruits:
  if i=="Pineapple":
    break
  print(i)

mango
Apple
Banana

In [ ]:
name="Pacific Ocean"
for i in name:
   if i=="O":
     break
   print(i)

P
a
c
i
f
i
c

Display all number from 1 to 10 except 3 and 7.

In [ ]:
for i in range(1,11):
  if i==3 or i==7:
    continue
  print(i)

1
2
4
5
6
8
9
10

Take a list of numbers and append the squares of elements in another list

In [ ]:
l1=[2,3,4,6,8,10]
l2=[]
for i in l1:
 square =i*i
 l2.append(square)
print(l2)

[4, 9, 16, 36, 64, 100]

Take list of your choice and display square of all elements in list.

In [ ]:
l1=[2,3,4,5,6]
for i in l1:
  print(i*i)

4
9
16
25
36

Take a list of of your choice and print even elements from list.

In [ ]:
l1=[2,4,3,76,89,5,6,87,57,37,47,45,92,91,90]
for i in l1:
  if i%2==0:
    print(i)

2
4
76
6
92
90

Tale a list of your choice and display count of even numbers.

In [ ]:
l2=[4,5,7,6,8,45,67,89,53,23,56]
count=0
for i in l2:
  if i%2==0:
    count=count+1
print(count)

4

Take list of your choice and count both of odd and even number.

In [ ]:
l1=[2,4,5,7,8,1,2,56,98]
count=0
count1=0
for i in l1:
  if i%2==0:
    count=count+1
  else:
   count1= count1+1
print(count)
print(count1)

6
3

In [ ]:
Take a number as input and display multiplication table for that number.

In [ ]:
n=int(input("enter the number"))
for i in range(1,11):
  print(n*i)

enter the number3
3
6
9
12
15
18
21
24
27
30

Calculate sum and average of all numbers from 1 to given number.

In [ ]:
n=int(input("enter the number"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("sum of number is=",sum)
print("average of number is=",(sum/n))

enter the number6
sum of number is= 21
average of number is= 3.5

Take a list of your choice and display one by one.

In [ ]:
l1=[2,3,"vijay","israel",]
for i in l1:
  print(i)

2
3
vijay
israel

Take a number as input from the user and check whether it is positive or negative. In either case check whether number is even or odd.

In [ ]:
num= int(input("enter the number:"))

if(num>=0):
  if(num>0):
    print("Number is positive")
  else:
    print("num is zero")
else:
  print("num is negative")

enter the number:5
Number is positive

In [ ]:
print('p' + 'q' if '12'.isdigit() else 'r' + 's')

pq

In [ ]:
n=input("enter the number")
a=n[::-1]
if(a==n):
  print("the number is palindrome",' ', a)
else:
  print("the number is not palindrome")

In [ ]:
n=int(input("enter the number"))