1.Write a program which accepts month's name as input and display the number of days in tne month as output.

In [ ]:
month=int(input("enter the month"))
year=int(input("enter the year"))
if(month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12):
  print("'No of days is 31")

elif((month==2) and ((year%400==0) or (year%4==0 and year%100!=0))):
  print("No of days is 29")
elif(month==2):
  print("no of days is 28")  
else:
  print("no of days is 30")

enter the month2
enter the year1996
No of days is 29

2.Take any word as input from the user and count number of vowels in the word.

In [ ]:
word=input("Enter the word")
vowel=0
for i in word:
 if i in ('a','A','i','I','e','E','o','O','u','U'):
  vowel=vowel+1

print("no of vowels=",vowel)

Enter the wordindia
no of vowels= 3

3.Write a programme to separate even and odd numbers in two distinct lists from a list of numbers of your choice.

In [ ]:
l1=[2,6,7,23,46,78,5,9,1,11,10,20]
l2=[]
for i in l1:
  if i%2==0:
    l2.append(i)
  else:
   print(l2)

[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]
[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]
[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]
[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]
[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]
[2, 6, 7, 23, 46, 78, 5, 9, 1, 11, 10, 20]

4.Write a programme to append datatype of elements from a list to the separate list.

In [ ]:
l1=["USA","RUSSIA",78,4.56]
l2=[]
for i in l1:
  l2.append(type(i))
print(l2)

[<class 'str'>, <class 'str'>, <class 'int'>, <class 'float'>]

5. Take a number as input from the user and find it's factorial.

In [ ]:
num=int(input("Enter the number"))
fact=1
if num<0:
  print("factorial of a number doe not exist")
elif num==0:
  print("Factorial of 0 is 1")
else:
  for i in range (1,num+1):
    fact=fact*i
  print(fact)

Enter the number5
120

6.Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is greater than 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
l1=[2,4,7,21,49,70,140,170,200,700]
for i in l1:
 if i>630:
  break
 elif i>=140:
  continue
 elif i%7==0:
  print(i)

7
21
49
70