In [ ]:
age=int(input("Enter the age"))
if age>=18:
  print("Cndidate is eligible")
else:
  print("Not elegible")

Enter the age45
Cndidate is eligible

In [ ]:
array=[(2,2),(3,3)]
type(array)

list

In [ ]:
list=[]
type(list )

list

In [ ]:
x="66"
y=x+str(9)
print(y)

669

In [ ]:
x=~4
print(x)

-5

In [ ]:
k=complex(2,3)
print(k)

(2+3j)

In [ ]:
k=2+3J
type(k)

complex

In [ ]:
array=[(2,2),(3,3)]
type(array)

list

In [ ]:
import calendar
yy=2022
mm=12
print(calendar.month(yy,mm))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
x=0
y=9
z=x+y
print(z)

9

In [ ]:
var1=10/3
round(var1,2)

3.33

In [ ]:
a=542%16
print(a)

14

In [ ]:
a=20
b=3
c=20/3
print(c)
d=20%3
print(d)

6.666666666666667
2

In [ ]:
a=3**5
print(a)

243

In [ ]:
a+=1

In [ ]:
x=[44,55,78]
x=tuple(x)
x[0]=999
print(x)

TypeError: ignored

In [ ]:
a,b,c = 6000,80000,9999

take lenghth and breadth from user as input and check if the rectangle is a square or not

In [ ]:
length=float(input("enter the length"))
breadth=float(input("enter the breadth"))
if(length==breadth):
  print("It is a square")
else:
  print("It is not a square")

enter the length3
enter the breadth3
It is a square

In a fare the entry fee is 0 rupee for children less than 4 years of age. Entry fee is 100 rupees If the age is between 4-18 years and if the age is more than 18 years, the entry fee is 175 rupee.
  take age as input from user and display ticket prices.

In [ ]:
age=int(input("Enter the age "))
if(age<4):
  print("The entry fee is 0 Rupees")
elif(4<age<=18):
  print("The entry fee is 100 rupees")
elif(age>18):
  print("The entry fee is 175 rupees")

Enter the age 46
The entry fee is 175 rupees

take a Number from user and check whether it is perfectly divisible by 2,3 and 7 or not.

In [ ]:
n=float(input("enter the number"))
if(n%2==0):
  print("Number is perfectly divisible by 2")
else:
  print("Number is not perfectly divisible by 2")
if(n%3==0):
  print("Number is perfectly divisible by 3")
else:
  print("Number is not perfectly divisible by 3")
if(n%7==0):
  print("Number is perfectly divisible by 7")
else:
  print("Number is not perfectly divisible by 7")

enter the number10
Number is perfectly divisible by 2
Number is not perfectly divisible by 3
Number is not perfectly divisible by 7

check the number is even or not

In [ ]:
num=float(input("Enter the number"))
if(num%2==0):
  print("Number is even")
else:
  print("Number is Odd")

Enter the number56
Number is even

The owner of a company decides to give bonus of 5% to employees who have been working in the company for 5 years or more.
 
 Take current salary and years of experience with the current company as input and print incremented salary.

In [ ]:
current_salary=int(input("Enter the salary of the employee"))
year_of_experience=int(input("Enter your year of experience"))
if(year_of_experience>=5):
  current_salary=(current_salary)+(0.05*(current_salary))
  print("increment in your salary",current_salary)
else:
  print("no increment in salary")

Enter the salary of the employee6
Enter your year of experience7
increment in your salary 6.3

A Grocery store allows 20% discount on items purchased worth more than 2000 rupees considering price of each commodity-200 rupees.Calculate  the discounted price to be paid at he end.

In [ ]:
items=int(input("Enter the no of items to be purchased"))
price=200
price=price*items
if(price>=2000):
 print("discount at the end",price-0.2*items )
else:
 print("No discount",price)

Enter the no of items to be purchased12
discount at the end 2397.6