In [ ]:
A = [[5, 4, 3],  
         [2, 4, 6],  
         [4, 7, 9],  
         [8, 1, 3]]  
res=[[0, 0, 0, 0],    
    [0, 0, 0, 0],  
    [0, 0, 0, 0]]

In [ ]:
for i in range(len(A)):
  for j in range(len(A[0])):
     res[j][i]=A[i][j]
for r in res:
   print(r)

[5, 2, 4, 8]
[4, 4, 7, 1]
[3, 6, 9, 3]

In [ ]:
n=input("enter the string")
z=n.split()
z.sort()
for i in z:
  print(i)

enter the stringmy name is vijay
is
my
name
vijay

In [ ]:
n=int(input("enter the number"))
if(n>0):
  print("positive number")
elif(n<0):
  print("negative number")
else:
  print("Zero")

enter the number0
Zero

In [ ]:
n=int(input("enter thr year"))
if((n%4==0 )or(n%400==0) and (n%100!=0)):
  print("leap year")
else:
  print("not a leap year")

enter thr year2003
not a leap year

In [6]:
def factorial(n):
  if(n<0):
    print("factorial does  not exist")
  elif(n==0 or n==1):
    print("factorial is 1")
  else:
    fact=1
    while(n>1):
      fact=fact*n
      n=n-1
  print(fact)   
factorial(5)

120

In [11]:
lowest_value=int(input("enter the lowest range value"))
upper_value=int(input("enter the upper range value"))
for n in range(lowest_value,upper_value+1):
  if(n>1):
    for i in range(2,n):
      if(n%i==0):
        break
    else:   
       print(n)

enter the lowest range value14
enter the upper range value97
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [13]:
n=int(input("enter the number"))
for i in range(2,11):
  print(n,"*",i,"=",n*i)

enter the number2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20