# Amicable Number

In [1]:
x=int(input("enter the number"))
y=int(input("enter the number"))
sum1=0
sum2=0
for i in range(1,x):
  if x%i==0:
    sum1+=i
for j in range(1,y):
  if y%j==0:
    sum2+=j
if(sum1==y and sum2==x):
  print("amicable number")
else:
  print("not a amicable number")

enter the number220
enter the number284
amicable number

# Removing Duplicate from list

In [3]:
l1=[1,2,2,3,4,5,6,6,6,7,77,7,2,2,4,9,8,6]
print("original list",l1)
print(*set(l1))

original list [1, 2, 2, 3, 4, 5, 6, 6, 6, 7, 77, 7, 2, 2, 4, 9, 8, 6]
1 2 3 4 5 6 7 8 9 77

Programme

In [6]:
days=['monday','tuesday','wednesday','thursday','friday','saturday']
print(type(days))
for i in days:
  print(i)

<class 'list'>
monday
tuesday
wednesday
thursday
friday
saturday

In [21]:
months=['jan','feb','march','april','may','june','july']
x=['August']
months.append(x)
print(months)
months.extend(x)
print(months)
months[2:5]
months.pop()

['jan', 'feb', 'march', 'april', 'may', 'june', 'july', ['August']]
['jan', 'feb', 'march', 'april', 'may', 'june', 'july', ['August'], 'August']

'August'

In [25]:
n=int(input("enter the number"))
a=0
b=1
if(n<0):
  print("incorrect input")
elif(n==0):
  print(a)
elif(n==1):
  print(b) 
else:
  for i in range(1,n):
    c=a+b
    a=b
    b=c
  print(b)

enter the number9
34