In [4]:
a=float(input("enter the first side"))
b=float(input("enter the second side"))
c=float(input("enter the third side"))
s=(a+b+c)*0.5
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter the first side5
enter the second side6
enter the third side7
14.696938456699069

In [6]:
x=int(input("enter the number"))
y=int(input("enter the number"))
x=x+y
y=x-y
x=x-y
print(x)
print(y)

enter the number4
enter the number5
5
4

In [9]:

miles=float(input("enter the distance in miles"))
km=miles*0.62137
print(km)

enter the distance in miles16
9.94192

In [11]:
c=float(input("enter the temperature in celsius"))
f=(c*1.8)+32
print(f)

enter the temperature in celsius34
93.2

In [12]:
import calendar
yy=int(input("enter the year"))
mm=int(input("enter the month"))
print(calendar.month(yy,mm))

enter the year2022
enter the month11
   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [20]:
X=[[1,2,3],
   [4,5,6],
   [7,8,9]]
Y=[[10,11,12],
   [13,14,15],
   [16,17,18]]
res=[[0,0,0],
   [0,0,0],
   [0,0,0]]      

for i in range(len(X)):
    for j in range(len(X[0])):
     res[i][j]=X[i][j]+Y[i][j]  
for r in res:
  print(r)

[11, 13, 15]
[17, 19, 21]
[23, 25, 27]

In [2]:
A = [[5, 4, 3],  
     [2, 4, 6],  
     [4, 7, 9]]    
B = [[3, 2, 4],  
     [4, 3, 6],  
     [2, 7, 5]]   
res=[[0, 0, 0],    
    [0, 0, 0],    
    [0, 0, 0]]

In [4]:
for i in range(len(A)):
  for j in range(len(B[0])):
    for o in range(len(B)):
      res[i][j]+=A[i][o]*B[o][j]
for r in res:    
   print(r)

[37, 43, 59]
[34, 58, 62]
[58, 92, 103]